/**
 * Feed/List
 */

.feed
	padding-top: $base-unit/2

	&__item
		position: relative
		background: $white
		padding: 1.5*$base-unit $base-unit
		border-radius: $base-unit/4
		margin-bottom: $base-unit/2

		a
			color: inherit

		i
			position: absolute
			top: 50%
			right: 0
			transform: translateY(-50%)
			color: md-color('deep-orange', '600')
			width: 6 * $base-unit
			font-style: normal
			text-align: center
			font-weight: 700

		header
			line-height: 1.25
			font-weight: 700
			padding-right: 4.5 * $base-unit // 6 - 1 - 0.5

		small
			display: block
			text-indent: $base-unit
			border-left: $base-unit/2 solid md-color('grey', '200')
			margin-top: $base-unit/2
			padding: $base-unit/2 0
			font-weight: 300

		footer
			font-size: 80%
			margin-top: $base-unit/2
			color: initial
			a
				text-decoration: underline

		time,
		.comments
			padding-left: $base-unit
			margin-left: $base-unit/2
			position: relative
			&::before
				position: absolute
				content: '|'
				left: 0

		time::after
			position: relative
			content: ' ago'

// i
// 	min-height: 100%
// 	display: block
// 	position: relative
// 	min-width: 55px
// 	line-height: 100%
// 	align-self: center
// 	text-align: center
// 	display: none
