/**
 * App Layout
 */

$header-height: 6 * $base-unit

#app
	@extend %fullscreen

#content
	padding: $header-height $base-unit/4 $base-unit/2

#top
	position: absolute
	will-change: transform
	transform: translateY(0%)
	background: $orange
	z-index: 9
	right: 0
	left: 0
	top: 0
	nav
		height: $header-height
		padding: 0 $base-unit
		text-align: center
		@extend %acenter
		@extend %dflex
	a
		@extend %flex
		color: rgba($offwhite, 0.65)
		transition: color $base-timing ease-in-out
		font-weight: 600
		&.active
			color: $white
			font-weight: 700

	&.is--fixed
		position: fixed
		transform: translateY(-100%)

	&.is--ready
		transition: all $base-timing ease-in-out

	&.is--shown
		@extend %md-shadow--1
		transform: translateY(0%)

#loader
	position: absolute
