/**
 * App Layout
 */

#app
	@extend %fullscreen

// #content
// 	padding-top: $header-height

#top
	position: relative
	will-change: transform
	transform: translateY(0%)
	height: $base-unit*6
	background-color: $orange
	right: 0
	left: 0
	top: 0
.is--fixed
	position: fixed
	transform: translateY(-100%)
.is--ready
	transition: all $base-timing ease-in-out
.is--shown
	@extend %md-shadow--1
	transform: translateY(0%)

